/* reset */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
code,
img,
ul,
ol,
iframe,
pre,
code,
figure,
dl {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
ul,
ol {
  list-style: none;
}
li,
p,
dt,
dd {
  word-wrap: break-word;
}
article,
aside,
dialog,
footer,
header,
section,
nav,
figure,
figcaption,
menu {
  display: block;
}
/* font */
/* display */
.hide {
  display: none;
}
.one-line-text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}
.clearfix:after {
  clear: both;
}
/* space */
.p-s {
  padding: 10px;
}
.p-m {
  padding: 20px;
}
.p-l {
  padding: 40px;
}
.pt-s {
  padding-top: 10px;
}
.pt-m {
  padding-top: 20px;
}
.pt-l {
  padding-top: 40px;
}
.pb-s {
  padding-bottom: 10px;
}
.pb-m {
  padding-bottom: 20px;
}
.pb-l {
  padding-bottom: 40px;
}
.pl-s {
  padding-left: 10px;
}
.pl-m {
  padding-left: 20px;
}
.pl-l {
  padding-left: 40px;
}
.pr-s {
  padding-right: 10px;
}
.pr-m {
  padding-right: 20px;
}
.pr-l {
  padding-right: 40px;
}
.m-s {
  margin: 10px;
}
.m-m {
  margin: 20px;
}
.m-l {
  margin: 40px;
}
.mt-s {
  margin-top: 10px;
}
.mt-m {
  margin-top: 20px;
}
.mt-l {
  margin-top: 40px;
}
.mb-s {
  margin-bottom: 10px;
}
.mb-m {
  margin-bottom: 20px;
}
.mb-l {
  margin-bottom: 40px;
}
.ml-s {
  margin-left: 10px;
}
.ml-m {
  margin-left: 20px;
}
.ml-l {
  margin-left: 40px;
}
.mr-s {
  margin-right: 10px;
}
.mr-m {
  margin-right: 20px;
}
.mr-l {
  margin-right: 40px;
}
body {
  font-size: 14px;
  color: #8d8d8d;
  font-family: Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #0088cc;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
p,
span,
li,
dl {
  line-height: 180%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #706a6a;
  font-weight: bold;
}
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  margin-left: 20px;
  font-size: 12px;
}
h1 {
  font-size: 28px;
}
ul > li,
ol > li {
  margin-bottom: 10px;
}
ul.tight li {
  margin-bottom: 0;
}
ul.decorated {
  list-style: disc;
  margin-left: 20px;
}
ol.decorated {
  list-style: decimal;
  margin-left: 20px;
}
dl dt {
  float: left;
  width: 3em;
  *width: 3.5em;
  text-align: right;
}
dl dd {
  margin-left: 3em;
  *margin-left: 3.5em;
}
pre {
  position: relative;
  padding: 20px 10px 20px 50px;
  background-color: #eff5f2;
  border: 1px solid #ccd1cf;
  word-wrap: break-word;
  color: #068c86;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 140%;
}
pre ul.code-row-list {
  position: absolute;
  top: 20px;
  left: 0;
  color: #cccccc;
}
pre ul.code-row-list li {
  line-height: 140%;
  margin-bottom: 0;
  text-align: right;
  padding: 0 5px;
}
pre p {
  position: relative;
  line-height: inherit;
}
pre p span.num {
  display: inline-block;
  width: 30px;
  text-align: right;
  line-height: inherit;
  position: absolute;
  top: 0;
  left: -40px;
  color: #cccccc;
}
button,
.btn {
  display: inline-block;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
}
header {
  display: none;
}
aside.bg {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35%;
  padding: 0;
  background-color: #eff5f2;
}
aside {
  position: relative;
  float: left;
  width: 28%;
  padding: 100px 3% 100px 4%;
}
article {
  margin-left: 35%;
}
aside,
article {
  position: relative;
  z-index: 2;
}
article {
  padding: 100px 4% 100px 3%;
}
aside > nav {
  border-bottom: 1px solid #ccd1cf;
  padding-bottom: 40px;
}
aside > nav li {
  float: left;
  padding-right: 20px;
}
aside section {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ccd1cf;
  padding: 40px 0;
}
aside section.last {
  border-bottom: none;
}
aside section h2 {
  margin-bottom: 20px;
}
aside > nav,
aside > section,
aside > .fix-block {
  width: 100%;
}
.fix-block {
  background-color: #eff5f2;
}
.fix-block.active {
  width: 28%;
  position: fixed;
  top: 0;
  left: 4%;
}
.time-line {
  position: relative;
  margin-top: 40px;
}
.time-line .line {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 37px;
  width: 6px;
  height: 100%;
  background-color: #eff5f2;
}
.time-line figure {
  position: relative;
  z-index: 4;
  min-height: 80px;
  margin-bottom: 50px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.time-line figure.last {
  margin-bottom: 0;
  height: 80px;
}
.time-line figure > img,
.time-line .time-node {
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #eff5f2;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
}
.time-line figcaption {
  margin-left: 100px;
  padding-top: 28px;
}
.time-line figure:hover > img,
.time-line figure:hover .time-node {
  -webkit-animation: paopao-in 0.2s linear;
}
article section {
  margin-top: 40px;
}
article h2 {
  margin-bottom: 20px;
}
article h4 {
  margin-bottom: 10px;
}
article section > p {
  margin-bottom: 20px;
}
article .small {
  font-size: 12px;
}
article .indented {
  margin: 20px 0;
  margin-left: 40px;
}
figure.profile img {
  width: 140px;
  height: 170px;
  float: right;
  background-color: #eff5f2;
}
figure.profile figcaption {
  margin-right: 160px;
}
.text-seperator {
  margin: 0 5px;
}
.app-info {
  min-height: 72px;
}
.app-info > img {
  float: left;
  width: 72px;
}
.app-info figcaption {
  margin-left: 100px;
}
.app-info dl dt {
  width: 5em;
}
.app-info dl dd {
  margin-left: 5em;
}
.loading {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  padding: 0 40px 0 20px;
  line-height: 30px;
  background-color: #eff5f2;
}
/* timeline css3 animation */
@-webkit-keyframes paopao-in {
  0% {
    -webkit-transform: scaleX(1);
  }
  30% {
    -webkit-transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(-1);
  }
  70% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@media screen and (max-width: 768px) {
  .intro,
  .contactme,
  .bg,
  .loading {
    display: none;
  }
  html,
  body {
    overflow-x: hidden;
  }
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #eff5f2;
    border-bottom: 1px solid #ccd1cf;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease 0;
    -moz-transition: all 0.3s ease 0;
    -ms-transition: all 0.3s ease 0;
    -o-transition: all 0.3s ease 0;
    transition: all 0.3s ease 0;
  }
  header .left,
  header .right {
    width: 20%;
    padding: 0 4%;
  }
  header .center {
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  header .left {
    text-align: left;
  }
  header .right {
    text-align: right;
  }
  aside,
  article {
    width: 92%;
    padding: 30px 4%;
  }
  aside {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 0 4%;
    background-color: #eff5f2;
    font-size: 16px;
    overflow-y: scroll;
  }
  aside.menu-list {
    display: block;
    width: 53%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease 0;
    -moz-transition: all 0.3s ease 0;
    -ms-transition: all 0.3s ease 0;
    -o-transition: all 0.3s ease 0;
    transition: all 0.3s ease 0;
  }
  aside.menu-list.active {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  aside section,
  aside nav {
    padding: 20px 0;
  }
  aside nav {
    padding-top: 60px;
  }
  aside h2 {
    font-size: 20px;
  }
  article {
    z-index: 3;
    margin: 0;
    padding-top: 80px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease 0;
    -moz-transition: all 0.3s ease 0;
    -ms-transition: all 0.3s ease 0;
    -o-transition: all 0.3s ease 0;
    transition: all 0.3s ease 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  article section {
    margin-top: 20px;
  }
  article h2 {
    margin-bottom: 10px;
  }
  article .indented {
    margin-left: 20px;
  }
  figure.profile img {
    width: 80px;
    height: 97px;
  }
  figure.profile figcaption {
    margin-right: 100px;
  }
  header.active,
  article.active {
    left: 60%;
  }
  pre {
    padding-left: 35px;
  }
  button,
  .btn {
    width: 100%;
    padding: 15px 0;
  }
  header .btn {
    width: 70%;
    height: 20px;
    background-color: transparent;
    vertical-align: middle;
  }
  header .btn span {
    display: block;
    width: 60%;
    height: 3px;
    margin-top: 5px;
    background-color: #8d8d8d;
  }
  header .btn span:first-child {
    margin-top: 0;
  }
  .menu-list ul li {
    float: none;
    margin-bottom: 5px;
    padding: 0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .fix-block.active {
    width: auto;
    position: static;
  }
  .works {
    padding-bottom: 50px;
    border-bottom: none;
  }
  .time-line {
    margin-top: 20px;
  }
  .time-line .line {
    left: 27px;
  }
  .time-line figure {
    min-height: 60px;
  }
  .time-line figure.last {
    height: 60px;
  }
  .time-line figure > img,
  .time-line .time-node {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .time-line figcaption {
    margin-left: 70px;
    padding-top: 18px;
  }
  .app-info > img {
    width: 40px;
    height: 40px;
  }
  .app-info figcaption {
    margin-left: 52px;
  }
  .loading {
    top: 51px;
  }
  .c-box {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .iframe-wrapper {
    min-height: 480px;
  }
  iframe.vertical {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  iframe.horizontal {
    -webkit-transform: scale(0.92) rotate(90deg);
    -moz-transform: scale(0.92) rotate(90deg);
    -ms-transform: scale(0.92) rotate(90deg);
    -o-transform: scale(0.92) rotate(90deg);
    transform: scale(0.92) rotate(90deg);
    -webkit-transform-origin: 160px 147.20000000000002px;
    -moz-transform-origin: 160px 147.20000000000002px;
    -ms-transform-origin: 160px 147.20000000000002px;
    -o-transform-origin: 160px 147.20000000000002px;
    transform-origin: 160px 147.20000000000002px;
  }
}
