body{ 
	.font(@font-size-m);
	color: @text-color;
	font-family: Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Helvetica Neue, Helvetica, Arial, sans-serif
}
a{
	text-decoration: none;
	color: @text-link-color;
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}
p, span, li, dl{
	line-height: @line-height-m;
}
h1, h2, h3, h4, h5, h6{
	color: @text-title-color;
	font-weight: bold;
}
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small{
	margin-left: @gap-m;
	.font(@font-size-s);
}
ul > li, ol > li{
	margin-bottom: @gap-s;
}
ul.tight li{
	margin-bottom: 0;
}
ul.decorated{
	list-style: disc;
	margin-left: @gap-m;
}
ol.decorated{
	list-style: decimal;
	margin-left: @gap-m;
}
dl dt{
	float: left;
	width: 5em;
	text-align: right;
}
dl dd{
	margin-left: 5em;
}
pre{
	position: relative;
	padding: @gap-m @gap-s @gap-m @gap-xl;
	background-color: @bg-color-dark;
	border: 1px solid @border-color;
	word-wrap: break-word;
	color: @text-color-dark;
	.border-radius(5px);
	line-height: @line-height-s;
}
pre ul.code-row-list{
	position: absolute;
	top: 20px;
	left: 0;
	color: @text-color-light;
}
pre ul.code-row-list li{
	line-height: @line-height-s;
	margin-bottom: 0;
	text-align: right;
	padding: 0 @gap-xs;
}
pre p{
	position: relative;
	line-height: inherit;
}
pre p span.num{
	display: inline-block;
	width: 30px;
	text-align: right;
	line-height: inherit;
	position: absolute;
	top: 0;
	left: -40px;
	color: @text-color-light;
}

.aside-bg{
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 35%;
	background-color: @bg-color-dark;
}
.aside{
	position: relative;
	float: left;
	width: 35%;
}
.content{
	margin-left: 35%;
}
.aside, .content{
	position: relative;
	z-index: 2;
}
.aside .inner{
	padding: 100px 40px 100px 20%;
}
.content .inner{
	padding: 100px 10% 100px 40px;
}
.nav{
	border-bottom: 1px solid @border-color;
	padding-bottom: @gap-l;
}
.nav li {
	float: left;
	padding-right: @gap-m; 
}
.aside-block{
	border-top: 1px solid @border-color-extra;
	border-bottom: 1px solid @border-color; 
	padding: @gap-l 0;
}
.aside-block.last{
	border-bottom: none;
}
.aside-block h2{
	margin-bottom: @gap-m;
}
.fix-block{
	background-color: @bg-color-dark;
}
.fix-block.active{
	width: 100%;
	position: fixed;
	top: 0;
}
.time-line{
	position: absolute;
	z-index: 3;
	top: 0;
	left: 37px;
	width: 6px;
	height: 100%;
	background-color: @bg-color-dark;
}
.time-line-wrapper{
	position: relative;
	padding-left: 80px;
	margin-top: @gap-l;
}
.time-line-period{
	position: relative;
	z-index: 4;
	min-height: 200px;
	.backface-visibility(hidden);
}
.time-line-period.last{
	min-height: 0;
}
.time-line-period.last .cont{
	padding-bottom: 0;
}

.time-line-period .point{
	position: absolute;
	top: 0;
	left: -80px;
	line-height: 80px;
	text-align: center;
}
.time-line-period .point.hover{
	-webkit-animation: paopao-in .2s linear;
}
// .time-line-period .point.out{
// 	-webkit-animation: paopao-out .1s linear;
// }
.time-line-period .cont{
	padding: 28px 0 50px 25px;
}
.time-line-period .cont h2{
	margin-bottom: @gap-m;
}
.company{
	display: inline-block;
	width: 80px;
	height: 80px;
	background-image: url(../img/company.png);
	background-color: @bg-color-dark;
	background-repeat: no-repeat;
	.border-radius(100px);
}
.company.guohead{
	background-position: 0 0;
}
.company.mixhui{
	background-position: -80px 0;
}
.company.cuc{
	background-position: -160px 0;
}
.company.ago{
	background-image: none;
}
.company.jiepang{
	background-position: -240px 0;
}
.company.nuandao{
	background-position: -320px 0;
}

.profile{
	position: relative;
	margin-top: @gap-l;
}
.block{
	margin-top: @gap-l;
}
.block h2{
	margin-bottom: @gap-m;
}
.block h4{
	margin-bottom: @gap-s;
}
.block > p{
	margin-bottom: @gap-m;
}
.block .small{
	.font(@font-size-s);
}
.block .indented{
	margin: @gap-m 0;
	margin-left: @gap-l;
}
.profile .avatar{
	position: absolute;
	top: 0;
	right: 0;
	width: 140px;
	height: 170px;
	background-color: @bg-color-dark;
}
.profile .info-list li{
	margin: 0;
}
.profile .info-list .title{
	display: inline-block;
	width: 4em;
}
.text-seperator{
	margin: 0 5px;
}

.app-info {
	min-height: 72px;
}
.app-info > img{
	float: left;
	width: 72px;
}
.app-info > dl{
	margin-left: 100px;
}

.loading{
	position: fixed;
	z-index: 9999; 
	right: 0;
	top: 0;
	opacity: 0;
	padding: 0 @gap-l 0 @gap-m;
	line-height: 30px;
	background-color: @bg-color-dark;
}

.btn{
    display: inline-block;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    outline: none;
    font-size: @font-size-m;
}

/* timeline css3 animation */
@-webkit-keyframes paopao-in {
	0% {
		-webkit-transform: scaleX(1);
	}
	30% {
		-webkit-transform: scaleX(0);
	}
	50% {
		-webkit-transform: scaleX(-1);
	}
	70% {
		-webkit-transform: scaleX(0);
	}
	100% {
		-webkit-transform: scaleX(1);
	}
}

